.markdown {
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

  h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
  }

  h4 {
    display: block;
    font-size: 1em;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  ul {
    list-style: inside;
  }

  ol {
    list-style: decimal;
    padding-right: 16px;
  }

  pre>code {
    display: block;
    background: #f1f1f1;
    padding: 1.33em;
    border-radius: 0.33em;
    text-align: left;
    direction: ltr;
  }
}